*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    background: #000;
    /* overflow: hidden; */
}

#container{
    width: calc(100vw - 20px);
    height: calc(100vh - 20px);
    display: grid;
    grid-template-columns: 1fr 5fr 15fr;
    gap: 20px;
    margin: 10px;
    overflow: hidden;
}
/* sideLeftBar */

#sideLeftBar{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 12px;
    border: 1px solid rgb(221, 207, 207);
    border-radius: 1rem;
}.subParts {
    background: #222;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.2s;
} .subParts i{
    color: aliceblue;
    font-size: larger;
}
.subParts:hover {
    background: #444;
}
 /* middlePart */

#middlePart,#rightPart{
    display: flex;
    flex-direction: column;
      gap: 20px;
}
.topMiddlePart {
    width: 100%;
    min-height: 160px;
    border: 1px solid rgb(221, 207, 207);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    color: aliceblue;
    padding: 10px;
}
.bottomMiddlePart{
    width: 100%;
    height: 100%;
    border: 1px solid rgb(221, 207, 207);
    border-radius: 1rem;
    padding: 15px;
}.topMiddlePart .header{
    width: 100%;
    height: 50px;
    /* border-radius: 1rem; */
    display: flex;
    align-items: center;
    /* background-color: #222; */
}.bottomMiddlePart .history {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}.bottomMiddlePart .history  .heading{
    height: 25px;
    /* background:#444; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 6px;
    /* padding: 0px 10px; */
}.bottomMiddlePart .history  .heading .title{
    width: 150px;
    margin-left: 0px;
}.search-icon{
    width: 30px;
    height: 100%;
    /* background:#222; */
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}.search-icon i{
    color: aliceblue;
} .bottomMiddlePart .list{
    height: auto;
    margin: 15px 0px;
     overflow-y: scroll;
   
}.bottomMiddlePart .listItems{
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}.bottomMiddlePart .listItems .leftListItem{
    width: 200px;
    height: 100%;
    display: flex;
    align-items: center;
}.bottomMiddlePart .listItems .leftListItem .content{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.bottomMiddlePart .listItems .leftListItem .content .title{
     width: 100px;
     height: 10px;
       background:#222;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}.bottomMiddlePart .listItems .leftListItem .content .subTitle{
     width: 80px;
     height: 10px;
       background:#444;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
     margin-left: 10px;
}.bottomMiddlePart .listItems .rightListItem{
    display: flex;
    gap: 10px;
    color: aliceblue;
}
.logo-icon{
    width:2.5rem;
    height: 2.5rem;
    background-color: #444;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}.logo-icon i{
    font-size: larger;
}
 .title{
    width: 100px;
    height:15px;
    margin-left: 10px;
     background-color:#222 ;
}.add-icon{
    width: 20px;
    height: 20px;
    margin-left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}.add-icon i{
    font-size: 20px;
}
.topMiddlePart .content{
    width: 100%;
    /* background-color: #444; */
}.topMiddlePart .content .home ,.playlists{
      width: 100%;
    height: 45px;
    /* border-radius: 1rem; */
    display: flex;
    align-items: center;
    /* background-color: #222; */
    margin-top: 5px;
}



/* rightPart */
.topRightPart{
    width: 100%;
    height: 100%;
    border: 1px solid rgb(221, 207, 207);
    border-radius: 1rem;
}
.bottomRightPart{
    width: 100%;
    height: 70px;
    border: 1px solid rgb(221, 207, 207);
    border-radius: 1rem;
}